{% extends "base.html" %}
{% load static %}

{% block content %}

  <header class="header-2">
    <div class="page-header min-vh-75 relative" style="background-image: url('{% static 'img/back.jpeg' %}')">
    <span class="mask bg-gradient-primary opacity-4"></span>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-7 d-flex justify-content-center flex-column">
              <h1 class="text-white mb-4">{{ movie.title}}</h1>
              <p class="text-white opacity-8 lead pe-5 me-5">You can find here all movie  </p>
              <div class="buttons">
                <a href="{% url "movie:update-movie" pk=movie.id%}" type="button" class="btn btn-white mt-4">Update Movie</a>
              </div>
              <div class="buttons">
                <a href="{% url "movie:delete-movie" pk=movie.id%}" type="button" class="btn btn-white mt-4">Delete Movie</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </header>


  <div class="card card-body blur shadow-blur mx-3 mx-md-7 mt-n6">
  <!-- -------- START Features w/ icons and text on left & gradient title and text on right -------- -->
    <section class="pt-6 pb-2">
      <div class="container card card-frame">
        <div class="row card-body mx-md-auto">
          <div class="col-lg-4">
            <img class="img-fluid rounded" src="{{ movie.poster.url}}" alt="">
          </div>
          <div class="col-lg-8">
            <p class=""><strong>Title: </strong>{{ movie.title}}</p>
            <p><strong>Tagline: </strong>{{ movie.tagline}}</p>
            {% for director in movie.directors.all %}
              <p><strong>Directors: </strong>
                {{ director.first_name}} {{director.last_name }}
              </p>
            {% endfor %}
            <p><strong>Country: </strong>{{ movie.country}}</p>
            <p><strong>Budget: </strong>{{ movie.budget}}$</p>
            <p><strong>Fess in world: </strong>{{ movie.fess_in_world}}$</p>
            <p><strong>World Premier: </strong>{{ movie.world_premiere}}</p>
            <p><strong>Year: </strong>{{ movie.year}}</p>
            {% for genre in movie.genres.all %}
              <p><strong>Genre: </strong>{{ genre.name}}</p>
            {% endfor %}
            <p><strong>Description: </strong>{{ movie.description }}</p>
          </div>
        </div>

        </div>

    </section>



    <section class="py-5">

        <div class="container card card-frame">
        <h3 class="text-center z-index-1 position-relative">Actors</h3>
        <div class="row card-body">
          <div class="owl-carousel owl-theme mx-auto">
            {% for actor in movie.actors.all %}
              <div class="item text-center">
                <article class="avatar avatar-xxl rounded-circle">
                  <img alt="Image placeholder" src="{{ actor.avatar.url }}">
                </article>
                <p>{{ actor.first_name }} {{ actor.last_name }}</p>

              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
    <form action="{% url 'movie:add-review' pk=movie.id%}" method="post">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h5 class="text-center">Write review about this film</h5>
          {% csrf_token %}
           <div class="input-group input-group-dynamic mb-4">
              <span class="input-group-text" id="basic-addon1"></span>
              <input type="text" name="text" class="form-control" placeholder="Write here your review about film..." aria-label="Write here your review" aria-describedby="basic-addon1">
              <input type="hidden" name="movie" value="{{ movie.id }}">
              {% if user.is_authenticated %}
                <input type="hidden" name="user" value="{{ user.id }}">
              {% endif %}
         </div>
         <input class="btn btn-primary  mx-sm-auto" type="submit" value="Submit">
        </div>
      </div>
    </form>
  </div>

  <div class="card card-frame mx-3 mx-md-7 mt-3 p-3">
      <h5 class="text-center">Reviews</h5>
      {% if movie.reviews_set.count > 0 %}
        {% for review in movie.reviews_set.all %}
          <h6>@{{ review.user.username }}</h6>
          <p>{{ review.text }}</p>
        {% endfor %}
      {% else %}
        <p>There are no reviews yet!</p>
      {% endif %}
    </div>
<!-- -------- END Features w/ icons and text on left & gradient title and text on right -------- -->



{% endblock %}